Source: lvsm
Section: python
Priority: extra
Maintainer: Khosrow Ebrahimpour <khosrow@khosrow.ca>
Build-Depends: debhelper (>= 9.0.0), python, python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
Homepage: https://github.com/khosrow/lvsm

Package: python-lvsm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-pkg-resources, iptables, ipvsadm, snimpy, python-pyparsing
Suggests: keepalived | ldirectord
Description: a shell to manage LVS and iptables config on a Linux server 
 lvsm provides a command shell to manage a Linux Virtual Server (LVS) 
 as a unified system and aims to simplify the management of such systems. 
